.navbar{
    justify-content: center;
}
.first{
    z-index: 45;
}
.help,.last {
    margin: .25rem auto;
    width: max-content;
}
.first form{
    background-color: rgba(10,10,10,.5);
}
.first .field{
    padding: 0 2em;
}
.first label,.first{
    color: white;
}
.modal-background{
    background-color: rgba(0, 0, 0, 0.5);
}
.unique{
    color: white;
    background-color: rgba(10,10,10,.5);
    border-radius: 5px;
    padding: 0 0 .75em;
}
.unique p{
    padding: .5em;
}
.buttons{
    justify-content: space-around;
}
.title{
    text-align: center;
    padding: 2em 0;
    text-transform: uppercase;
}
.create{
    margin-right: .5em;
}
.column{
    margin: .5em;
}
.columns{
    justify-content: center
}